[run]
omit = 
    frxas/tests/*
    frxas/datain.py
    frxas/frXAS_Analysis.py
    frxas/preprocessing.py

[report]
omit =  
    */python?.?/*
    */site-packages/nose/*
    *__init__*
exclude_lines =
    if __name__ == .__main__.: